.App {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #738290;
}

.card {
    position: relative;
    background-color: #FFFCF7;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3rem;
    box-shadow: 5px 5px 10px black;
}

.display-winner {
    position: absolute;
    font-size: 3rem;
    top: 13rem;
}

.turn {
    transform: translateY(-1rem);
}